[Unit]
Description=Tailscale Web UI
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/bin/bash /etc/tailscale/tailscale-web.sh

[Install]
WantedBy=multi-user.target